VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=authapi-tt-20260607.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=authapi-tt-20260607
VITE_FIREBASE_STORAGE_BUCKET=authapi-tt-20260607.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=535693304254
VITE_FIREBASE_APP_ID=1:535693304254:web:3da855065fe9667646d9ef
VITE_TRIAL_AUTH_API_ORIGIN=https://auth.api.takumi-tokunaga.com
